blinker
certifi
charset-normalizer
click
dash
dash-core-components
dash-html-components
dash-table
Flask
flatbuffers
idna
importlib_metadata
itsdangerous
Jinja2
MarkupSafe
narwhals
nest-asyncio
numpy
openmeteo_requests
openmeteo_sdk
packaging
pandas
plotly
python-dateutil
pytz
requests
requests_cache
retrying
setuptools
six
typing_extensions
tzdata
urllib3
Werkzeug
zipp
