body {
    font-family: sans-serif;
}

h1 {
    color: #333;
    text-align: center;
}

.container {
    width: 80%;
    margin: 20px auto;
    text-align: center;
}

.graph {
    width: 100%;
    margin-top: 20px;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.search-input {
    width: 300px;
    text-align: left;
}

#location-dropdown {
    width: 100%;
}

.widget-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.location-dropdown {
    width: 50%;
    display: block;
    margin: 0 auto;
    text-align: left;
}

.current-time-widget, .current-temp-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid #007acc;
    border-radius: 15px;
    padding: 15px 20px;
    width: 200px;
    height: 100px;
    text-align: center;
}

.time-number, .temp-number {
    font-size: 36px;
    color: #007acc;
    font-weight: bold;
}

.temp-label, .time-label {
    font-size: 16px;
    margin: 0;
    color: #555;
}
